
*.png
CleaningData/SQLDATA.csv
CleaningData/Untitled.ipynb
SQL/datamodelr.csv
SQL/SQLPROJECT.sqbpro
CleaningData/ModelV1.ipynb
CleaningData/ModelV1HaileyStahl.docx
CleaningData/FinalModelRedo.ipynb
CleaningData/FinalModel.ipynb
CleaningData/SQLDATA2.csv
